@page "/pong-one"

<h1>Pong</h1>

<style>

    .ball {
        width: 25px;
        height: 25px;
        background-color: whitesmoke;
        position: relative;
       
    }

    .paddle {
        width: 25px;
        height: 100px;
    }

    .court {
        background-color: black;
        width: 600px;
        height: 400px;
    }

    .left {
        background-color: crimson;
        float: left;
        position: relative;
        left: 10;
    }

    .right {
        background-color: cyan;
        float: right;
        position: relative;
        left: 720;
    }
</style>

<div class="court">
    <div class="paddle left" 
         style="top:@(leftTop)px" />

    <div class="paddle right" 
         style="top:0px" />

    <div class="ball" 
         style="top: 200px;left: 300px;" />
</div>

<button class="btn btn-primary" @onclick="LeftUp">Up</button>
<button class="btn btn-primary" @onclick="LeftDown">Down</button>

@code {
   
    private int leftTop = 0;


    private void LeftUp()
    {
        leftTop -= 10;
       
    }
    private void LeftDown()
    {
        leftTop += 10;
    }
}
